/* CSS for --> app/views/yachts/new.html.erb */
.card{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between; /* Items are spaced with equal gap */
  flex-direction: row;
  margin-top: 20px;
  margin-right: 25px;
}

.right-section{
  background-color: lightblue;
  margin-right: 10px; /* Add a small gap between left and right sections */
  width: 40%;
}

.left-section{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide overflowing content */
  width: 60%;
  /* flex-grow: 4; */
}

.left-section img {
  max-width: 100%; /* Ensure the image doesn't exceed the right section's width */
  max-height: 100%; /* Ensure the image doesn't exceed the right section's height */
}

h2, p{
  margin-left: 25px;
}
/* CSS for --> app/views/yachts/show.html.erb */
.yacht_photos_show_page{
  width: 30%;
  height: 30%;
  border-radius: 20%;
  margin: 10px;
}
