.yacht-card-rows-show {
    margin: 3vw;
    width: 95vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.left-section-yacht-show {
    width: 42vw;
}

.yacht_photos-show {
    padding: 3px;
    height: 22vw;
    width: 40vw;
}

.image-rating-card {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.yacht-review-card-show {
    margin: 24px;
}

.review-spacer-show {
    width: 45vw;
}

div.scroll-container {
    background-color: rgba(217, 219, 222, 0.60);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-yacht-show-booking {
    margin-left: 20px;    
    background-color: #FFC65A;
    border-radius: 2px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

a {
    color: black;
    text-decoration: none;
}


