<footer>
        <div class="marquee-wrapper">
          <div class="marquee">
          <h5 class="footer-tagline">
          <i class="fa-solid fa-seedling"></i>
          <i class="fa-solid fa-gift"></i>
          &copy; 2023 SEA&B. All rights reserved.
            <i class="fa-solid fa-fish"></i>
            <i class="fa-solid fa-anchor"></i>
            <i class="fa-solid fa-ship"></i>
            </h5>
          </div>
        </div>
</footer>
