.form-heading {
    margin: 1em; /* Adjust the padding value as needed */
    margin-right: 0;
    margin-left: 3em;
}
.comment label{
    font-size: medium;
}

.rating label {
    font-size: medium;
}

.submit-button {
    margin-left: 11.5em !important;
    padding: 0px 120px !important;
    margin-left: 20px;    
    background-color: #FFC65A;
    border-radius: 2px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn {
    --bs-btn-font-size: 1.3rem;
    --bs-btn-font-weight: 553;
    }