// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import 'bootstrap';

// Your CSS partials
@import "components/index";
@import "pages/index";

// body {
//     min-height: 100%;
//     display: flex;
//     flex-direction: column;
// }

// footer {
//     margin-top: auto;
// }

// .page-content-between-navbar-footer {
//     min-height: 100%;
// }

#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;/* Footer height */
}